.container{
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background: #eee;
  padding: 30px;
}

.button-container{
  min-height: 80px;
  display: flex;
  align-items: flex-end;
}
.search-container{
  margin-bottom: 20px;
}
.search-container h1{
  margin-bottom: 20px;
}