.container{
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #eee;
  padding: 30px;
}

.posts{
  display: grid; /*Separate by columns and rows*/
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* for each element, if one doesn't fill the screen, use one*/
  gap: 30px; /* space for each element*/
}
.post{
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: transform 100ms ease-in-out;
}
.post:hover{
  transform: scale(1.05);

}
.post img{
  max-width: 100%;
}
.post-content{
  padding: 30px;
}